*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	background: cadetblue;
	z-index: 1;
    justify-content: center;
}

#hoverBox{
    position: absolute;
    background-color: coral;
    height: 25vh;
    width: auto;
    font-size: 5em;
    color: white;
    bottom: 40%;
    border: 5px solid black;
}